* {
	margin:0;
	padding:0;
}

.home-content {
	margin-top:12%;
	margin-left: auto;
	margin-right:auto;
	padding-bottom:20px;
    padding-top: 20px;
	z-index:1;
	max-width:500px;
	background-color:#f3f4f5;
	text-align:center;
	font-family:'open sans';
	font-size:18px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.14);
	/*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);*/
}

.home-content input[type=text], .home-content input[type=email], 
.home-content input[type=date], .home-content input[type=month],
.home-content input[type=number]{
	width:350px;
	height:40px;
	border: 1px solid #225fe7;
	text-align:center;
	color:black;
	font-family:'open sans';
    font-size: 90%;
}

.home-content input[type=password] {
	width:350px;
	height:40px;
	border: 1px solid #225fe7;
	text-align:center;
	color:black;
	font-family:'open sans';
    font-size: 90%;
}

.home-content input[type=submit] {
    width:350px;
    height:50px;
    transition: all .3s;
    background-color:white;
    border: 1px solid #ddd;
    border-color: #225fe7;
    color: black;
    font-family:'open sans';
    font-size: 90%;
}

.home-content input[type=submit]:hover {background: #225fe7;color: #fff;font-size: 90%;}

.username {
	margin-top:25px;
}

.message a {
	text-decoration: underline;
	color:#225fe7;
}

.dialogue p {
	padding-top:20px;
}